<!doctype html>
<html>
	<head>
		<title>Create U</title>
	</head>

	<body>
		<nav class="nav_bar">
			<% if logged_in? %>
				<h6>
					<a href="/characters">Your Characters</a>
				</h6>
				<h6>
					<a href="/characters/new">Create a Character</a>
				</h6>
				<h6>
					<a href="/races">Your Races</a>
				</h6>
				<h6>
					<a href="/races/new">Create a Race</a>
				</h6>
				<h6>
					<a href='/klasses'>Your Classes</a>
				</h6>
				<h6>
					<a href="/klasses/new">Create a Class</a>
				</h6>
			<% else %>
				<a href="/signup">Sign Up</a>
				<a href="/login">Log In</a>
			<% end %>
		</nav>

		<div class="container">
			<% flash.keys.each do |type| %>
			  <div data-alert class="flash <%= type %> alert-box radius">
			    <%= flash[type] %>
			    <a href="#" class="close">&times;</a>
			  </div>
			<% end %>

			<%= yield %>
		</div>
	</body>
</html>