<!doctype html>
<html>
	<head>
		<title>Create U</title>
	</head>

	<body>
		<nav>
			<% if logged_in? %>
				<h4>
					<a href="/characters/index">Your Characters</a>
				</h4>
				<h4>
					<a href="/characters/new">New Character</a>
				</h4>
			<% else %>
				<a href="/signup">Sign Up</a>
				<a href="/login">Log In</a>
			<% end %>
		</nav>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>