<h1>Edit Class</h1>
<form action="/klasses/<%= @klass.slug %>" method='POST'>
	<input type="hidden" name='_method' value='PATCH'>

	<label for="name">
		Name: <%= @klass.name %>
	</label>
	<br>
	<label for="hitdie">
		Hitdie: <input type="text" name='klass[hitdie]'>
	</label>
	<br>
	<label for="proficencies">
		Proficencies: <input type="text" name='klass[proficencies]'>
	</label>
	<br>
	<label for="ability">
		Ability: <input type="text" name='klass[ability]'>
	</label>
	<br>

	<input type="submit" value='Update'>
</form>

<form action="/klasses/<%= @klass.slug %>/delete" method='POST'>
	<input type="hidden" name='_method' value='delete'>
	<input type="submit" value="Delete Character?">
</form>