<h3>Your Classes:</h3>

<% @klasses.each do |klasse| %>
	<%= klasse.name %><br>
	<%= klasse.hitdie %><br>
	<%= klasse.proficencies %><br>
	<%= klasse.ability %><br>
<% end %>

<form action="/logout">
	<input type="submit" value="Log Out">
</form>