<h3>Your Classes:</h3>

<% @klasses.each do |klasse| %>
	<% if klasse.user_id == nil %>
		<%= klasse.name %></a><br>
	<% else %>
		<a href='/klasses/<%= klasse.slug %>'><%= klasse.name %></a><br>
	<% end %>
<% end %>
