
<h1>Create your own Personalized Dungeons and Dragons Class!</h1>
<form action="/klass" method='POST'>
	<label for="name">
		Name: <input type="text" name='klass[name]'>
	</label>
	<br>
	<label for="hitdie">
		Hitdie: <input type="text" name='klass[hitdie]'>
	</label>
	<br>
	<label for="proficencies">
		Proficencies: <input type="text" name='klass[proficencies]'>
	</label>
	<br>
	<label for="ability">
		Ability: <input type="text" name='klass[ability]'>
	</label>
	<input type="submit" value='Create'>
</form>