<h1>Choose a Class</h1>
<form action="/klasses" method='POST'>
	<% @klasses.each do |klass| %>
		<label for="<%= klass.name %>">
			<%= klass.name %>
			<input type="checkbox" name="klass">
		</label>
	<% end %>
</form>
<h1>Or, Create Your Own</h1>
<form action="/klasses" method='POST'>
	<label for="name">
		Name: <input type="text" name='klass[name]'>
	</label>
	<br>
	<label for="hitdie">
		Hitdie: <input type="text" name='klass[hitdie]'>
	</label>
	<br>
	<label for="proficencies">
		Proficencies: <input type="text" name='klass[proficencies]'>
	</label>
	<br>
	<label for="ability">
		Ability: <input type="text" name='klass[ability]'>
	</label>
	<br>
	<input type="submit" value='Create'>
</form>